html,
body {
  height: 100%;
  font-family: avenir, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding: 1rem 1rem 2rem;
  margin: 0;
  border-bottom: 2rem solid black;
  height: auto;
}

#inputs,
#sentiments textarea {
  width: max(50vw, min(90vw, 500px));
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.25rem;
  border: solid;
}

#start {
  padding: 1rem;
}

#chart {
  transition: filter 1s, height 1s, width 1s;
  background: #f4f4f4;
  &.in-progress {
    background: lightgrey;
    filter: blur(5px);
  }
}

#hide_tooltips {
  margin-bottom: 3rem;
  &:disabled {
    opacity: 0;
  }
}

.typo-row {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  > * {
    display: flex;
    align-items: center;
  }
  .red {
    padding: 0.25rem;
  }
  &:hover .red {
    background: red;
    color: white;
    border-radius: 0.25rem;
  }
}

.center {
  text-align: center;
}

.d-none {
  display: none;
}

.red {
  color: red;
}
