html,
body {
  height: 100%;
  font-family: avenir, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding: 1rem 1rem 2rem;
  margin: 0;
  border-bottom: 2rem solid green;
  height: auto;
}

#inputs,
textarea,
pre {
  width: max(50vw, min(90vw, 500px));
  padding: 1rem;
  margin: auto;
  border-radius: 0.25rem;
  border: solid;
}
textarea:read-only,
pre:read-only {
  background: #eee;
}
textarea:not(:read-only):focus,
textarea:not(:read-only):hover {
  background: #d3f3fd;
}

#similarities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: end;
  gap: 1rem;
  margin-block-end: 1rem;
  input {
    width: 100%;
  }
}

.settings,
#typo_fix_suggestions {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}

#start,
#hide_tooltips,
#processKnn {
  padding: 1rem;
}

#chart {
  transition: filter 1s, height 1s, width 1s;
  background: #f4f4f4;
  &.in-progress {
    background: lightgrey;
    filter: blur(5px);
  }
}

#hide_tooltips {
  margin-bottom: 3rem;
  &:disabled {
    opacity: 0;
  }
}

.typo-row {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  > * {
    display: flex;
    align-items: center;
  }
  .red {
    padding: 0.25rem;
  }
  &:hover .red {
    background: red;
    color: white;
    border-radius: 0.25rem;
  }
  .replace-typo-other {
    font-style: italic;
    font-weight: bold;
  }
}

#classes {
  max-width: 40ch;
  padding-top: 0;
}

.progressive-disclosure {
  color: gray;
}

.center {
  text-align: center;
}

.d-none {
  display: none !important;
}

.red {
  color: red;
}
