html,
body {
  height: 100%;
  font-family: avenir, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inputs {
  width: max(50vw, min(90vw, 500px));
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.25rem;
  border: solid;
}

#start {
  padding: 1rem;
}

#chart {
  transition: filter 1s, height 1s, width 1s;
  background: #f4f4f4;
  &.in-progress {
    background: lightgrey;
    filter: blur(5px);
  }
}

#hide_tooltips {
  margin-bottom: 3rem;
  &:disabled {
    opacity: 0;
  }
}
